<!DOCTYPE html>
<html ng-app="News" lang="en">
<head>
	<title>ownCloud News</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Bernhard Posselt, Alessandro Cosentino, Ilija Lazarevic"/>
	<meta name="keywords" content="ownCloud, rss, reader, news, atom"/>
	<meta name="description" content="mobile client for the News app"/>
	
	<!-- styles -->
	<link rel="stylesheet" href="../css/bootstrap.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="../css/responsive.css" type="text/css" media="all"/>
	<!--<link rel="stylesheet" href="../css/style.css" type="text/css" media="all"/>

	<!-- scripts -->
	<script type="text/javascript" src="../vendor/jquery/jquery.js"></script>
	<script type="text/javascript" src="../vendor/angular/angular.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap/bootstrap-button.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap/bootstrap-transition.js"></script>
    <script type="text/javascript" src="../vendor/bootstrap/bootstrap-collapse.js"></script>
	<script type="text/javascript" src="../public/app.js"></script>


</head>

<body>
	<div id="main" ng-view></div>

</body>

</html>