<check-presence xmlns="http://www.w3.org/1999/html"></check-presence>

<div id="header" class='header'>
    <ul class="nav nav-pills menu">
        <li><a href ng-click="getAll(0)"><i
                class='icon-certificate icon-white'></i></a></li>
        <li><a href ng-click="getStarred(0)"><i
                class='icon-star icon-white'></i></a></li>
        <li><a href ng-click="getFolders()"><i
                class='icon-folder-open icon-white'></i></a></li>
        <li><a href ng-click="getFeeds()"><i
                class='icon-list icon-white'></i></a></li>
        <li class="pull-right"><a href ng-click="logOut()"><i
                class="icon-off icon-white"></i></a></li>
    </ul>
</div>
<!--Handling the header caption-->
<div ng-switch="action" id="caption"
     class="caption">
                <span ng-switch-when="All">{{ 'all.feeds.articles' |
                    translator }}</span>
                <span ng-switch-when="Starred">{{ 'all.starred.articles' |
                    translator}}</span>
                <span ng-switch-when="Folders">{{ 'all.folders'
                    | translator }}</span>
                <span ng-switch-when="Feeds">{{ 'all.feeds' |
                    translator}}</span>
                <span ng-switch-when="FolderItems">{{currentFolderName}}
                    {{ 'articles' | translator}}</span>
                <span ng-switch-when="FeedItems">{{currentFeedTitle}}
                    {{ 'articles' | translator}}</span>
</div>

<!-- Showing feed articles list -->
<div ng-switch="view">
    <div class="accordion" id="accordion1"
         class="nav nav-pills nav-stacked"
         ng-switch-when="All">

        <items-listing ng-repeat="item in data.items"
                       setfav="setFavorite(feedId,guidHash)"
                       unsetfav="unsetFavorite(feedId,guidHash)"
                       setread="setRead(id)"
                       unsetread="unsetRead(id)"
                       data="item">
        </items-listing>

        <div ng-hide="data.items" class="accordion-group">
            <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1">
                <i class="icon-remove-circle"></i><span class="title">There is no items in here yet.</span><br/>
                </a>
            </div>
        </div>

        <div class="showmore" ng-show="data.items">
            <button class="btn btn-large" ng-disabled="!moreArticles"
                    ng-click="getMoreItems(view)"><i class="icon-arrow-down"></i>
            </button>
            <button class="btn btn-large" scroll-to scrollto="header">
                <i class="icon-arrow-up"></i>
            </button>
        </div>
    </div>


    <!-- Showing folders list -->
    <div class="accordion" id="accordion2" class="nav nav-pills nav-stacked"
         ng-switch-when="Folders">
        <folders-listing ng-repeat="folder in data.folders"
                         data="folder"
                         getfolderitems="getFolderItems(folder.id,0,folder.name)">
        </folders-listing>

        <div ng-hide="data.folders" class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2">
                    <i class="icon-remove-circle"></i><span class="title">There is no folders in here yet.</span><br/>
                </a>
            </div>
        </div>


    </div>

    <!-- Showing feeds list -->
    <div class="accordion" id="accordion3" class="nav nav-pills nav-stacked"
         ng-switch-when="Feeds">
        <feeds-listing ng-repeat="feed in data.feeds"
                       getfeeditems="getFeedItems(feed.id,0,feed.title)"
                       data="feed">
        </feeds-listing>

        <div ng-hide="data.feeds" class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3">
                    <i class="icon-remove-circle"></i><span class="title">There is no feeds in here yet.</span><br/>
                </a>
            </div>
        </div>

    </div>
</div>




