<check-presence xmlns="http://www.w3.org/1999/html"></check-presence>

<div class='header'>
    <ul class="nav nav-pills menu">
        <li><a href ng-click="getAll(0)"><i
                class='icon-certificate icon-white'></i></a></li>
        <li><a href ng-click="getStarred(0)"><i
                class='icon-star icon-white'></i></a></li>
        <li><a href ng-click="getFolders()"><i
                class='icon-folder-open icon-white'></i></a></li>
        <li><a href ng-click="getFeeds()"><i
                class='icon-list icon-white'></i></a></li>
        <li class="pull-right"><a href ng-click="logOut()"><i
                class="icon-off icon-white"></i></a></li>
    </ul>
</div>
<!--Handling the header caption-->
<div ng-switch="action" id="caption"
     class="caption">
                <span ng-switch-when="All">{{ 'all.feeds.articles' |
                    translator }}</span>
                <span ng-switch-when="Starred">{{ 'all.starred.articles' |
                    translator}}</span>
                <span ng-switch-when="Folders">{{ 'all.folders'
                    | translator }}</span>
                <span ng-switch-when="Feeds">{{ 'all.feeds' |
                    translator}}</span>
                <span ng-switch-when="FolderItems">{{currentFolderName}}
                    {{ 'articles' | translator}}</span>
                <span ng-switch-when="FeedItems">{{currentFeedTitle}}
                    {{ 'articles' | translator}}</span>
</div>

<!-- Showing feed articles list -->
<div ng-switch="view">
    <div class="accordion" id="accordion1"
         class="nav nav-pills nav-stacked"
         ng-switch-when="All">
        <div class="accordion-group" ng-repeat="item in data.items">
            <div class="accordion-heading">
                <a class="accordion-toggle unread-{{item.unread}} starred-{{item.starred}} "
                   data-toggle="collapse"
                   data-parent="#accordion1" href="#collapse{{item.id}}">
                    <span>
                        {{item.title}}
                    </span><br/>
                    <span ng-show="item.autor" class="itemadd">
                        author: <span>{{item.author}}</span>
                    </span>
                    <span ng-hide="item.autor" class="itemadd">
                        author: <span>unknown</span>
                    </span>
                    <span ng-show="item.pubDate" class="itemadd">
                        date published: <span>{{item.pubDate}}</span>
                    </span>
                    <span ng-hide="item.pubDate" class="itemadd">
                        date published: <span>unknown</span>
                    </span>
                </a>
            </div>
            <div id="collapse{{item.id}}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="accordion-heading">
                        <!--<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{item.id}}1"></a>-->
                        <div class="bodybox" ng-bind-html-unsafe="item.body">
                        </div>
                        <div class="buttonsbox">
                            <span class="itemaddurl">
                                <a ng-href="{{item.url}}" target="_blank">
                                   <i class="icon-file"></i></a>
                            </span>
                            <span class="itemaddurl">
                                <a href onclick="alert('sasa')"
                                   target="_blank">
                                    <i class="icon-eye-open"></i></a>
                            </span>
                            <span class="itemaddurl">
                                <a ng-click="alert('sasa');" target="_blank">
                                    <i class="icon-star"></i></i></a>
                            </span>
                            <span class="itemaddurl">
                                <a ng-click="alert('sasa');" target="_blank">
                                    <i class="icon-ban-circle"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <!--
                <div class="btn-group pull-right">
                    <button ng-show="!item.unread" class="btn"><i class="icon-eye-close"></i></button>
                    <button ng-show="item.unread" class="btn"><i class="icon-eye-open"></i></button>
                    <button ng-show="!item.starred" class="btn"><i class="icon-star"></i></button>
                    <button ng-show="item.starred" class="btn"><i class="icon-star"></i></button>
                    <button class="btn"><i class="icon-ban-circle"></i></button>
                </div> <!-- -->
            </div>
        </div>
        <div class="showmore" ng-show="moreArticles">
            <button class="btn btn-large btn-block"
                    ng-click="getMoreItems(view)"><i
                    class="icon-arrow-down"></i></button>
        </div>
    </div>

    <!-- Showing folders list -->
    <!--
    <ul class="nav nav-pills nav-stacked" ng-switch-when="Folders">
        <li ng-repeat="folder in data.folders">
            <a href
               ng-click="getFolderItems(folder.id,0,folder.name)">
                            <span>
                                {{folder.name}}
                            </span>
            </a>
        </li>
    </ul><!-- -->

    <div class="accordion" id="accordion2" class="nav nav-pills nav-stacked"
         ng-switch-when="Folders">
        <div class="accordion-group" ng-repeat="folder in data.folders">
            <div class="accordion-heading">
                <a class="accordion-toggle"
                   data-toggle="collapse"
                   data-parent="#accordion2" href
                   ng-click="getFolderItems(folder.id,0,folder.name)">
                    <i class="icon-file"></i>
                        <span class="title">
                            {{folder.name}}
                        </span><br/>
                </a>
            </div>

        </div>
        <!--
        <div class="showmore" ng-show="moreArticles">
            <button class="btn btn-large btn-block"
                    ng-click="getMoreItems(view)"><i
                    class="icon-arrow-down"></i></button>
        </div>
        <!-- -->
    </div>

    <!-- Showing feeds list-->
    <!--
    <ul class="nav nav-pills nav-stacked" ng-switch-when="Feeds">
        <li ng-repeat="feed in data.feeds">

            <a href ng-click="getFeedItems(feed.id,0,feed.title)">
                <img src="{{feed.faviconLink}}" width="32"
                     height="32">
                <span>{{feed.title}}</span>
                <span class="badge" ng-bind="feed.unreadCount"></span>
            </a>

        </li>
    </ul>-->
    <div class="accordion" id="accordion3" class="nav nav-pills nav-stacked"
         ng-switch-when="Feeds">
        <div class="accordion-group" ng-repeat="feed in data.feeds">
                <div class="accordion-heading">
                    <a class="accordion-toggle"
                       data-toggle="collapse"
                       data-parent="#accordion3" href
                       ng-click="getFeedItems(feed.id,0,feed.title)">
                        <img src="{{feed.faviconLink}}" width="32" height="32">
                        <span class="title">
                            {{feed.title}}
                        </span><br/>
                        <span ng-show="feed.added" class="itemadd">
                            date added: <span>{{feed.added}}</span>
                        </span>
                        <span ng-show="feed.added" class="itemadd">
                            web site: <span>{{feed.link | clearurl}}</span>
                        </span>
                    </a>
                </div>

        </div>
        <!--
        <div class="showmore" ng-show="moreArticles">
            <button class="btn btn-large btn-block"
                    ng-click="getMoreItems(view)"><i
                    class="icon-arrow-down"></i></button>
        </div>
        <!-- -->
    </div>
</div>




